@{
    ViewBag.Title = "Home Page - Backend1";
}
<h1>Mockups</h1>
<ul>
    <li><a asp-controller="QuizService" asp-action="Quiz">Quiz</a></li>
    <li><a asp-controller="QuizService" asp-action="QuizResult">QuizResult</a></li>
</ul>
